.jumbotron {
    background-color: orange; 
    margin-top: 50px;
    }


footer {
    padding: 10px 10px 0 10px;
    background-color: lightgrey;
    margin-bottom: 0px;
    margin-top: 100px;
    }
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: orange;
}


.espacio-iconos{
    padding-right: 10px;
}

h1 {
    color: darkslategrey
}

.tab-content{
    padding-top: 15px;
}