.jumbotron {
  background-color: #FF7C00;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.espacio-iconos {
  padding-right: 10px; }

h1 {
  color: darkslategrey; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
