$orange: #FF7C00;
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;    
}

.jumbotron {
    background-color: $orange; 
    margin-top: 50px;
    @include margenes(50px, 20px);
    }


footer {
    padding: 10px 10px 0 10px;
    background-color: lightgrey;
    @include margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.espacio-iconos{
    padding-right: 10px;
}

h1 {
    color: darkslategrey
}

.tab-content{
    padding-top: 10px;
}